.App {
  text-align: center;
}

.common-bg {
  background-image: url('./assets/images/gym_background.jpg');
  background-size: cover;
  background-position: center;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
} 

.scrollbar-hide::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
  display: none;
}

