@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gelasio';
  src: url('./assets/fonts/Gelasio-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Satisfy';
  src: url('./assets/fonts/Satisfy-Regular.ttf') format('truetype');
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Hide scrollbar for WebKit-based browsers */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
html, body {
  scrollbar-width: none; /* Firefox */
  
}

/* Hide scrollbar for Internet Explorer 10+ and Edge */
html, body {
  -ms-overflow-style: none; /* IE and Edge */
}

@layer utilities {
  /* Light Mode Scrollbar */
  .light-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.blue.600') theme('colors.gray.100');
  }

  .light-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .light-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.gray.100');
  }

  .light-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme('colors.blue.600');
    border-radius: 6px;
    border: 3px solid theme('colors.gray.100');
  }

  /* Dark Mode Scrollbar */
  .dark-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.blue.600') theme('colors.gray.800');
  }

  .dark-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .dark-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.gray.800');
  }

  .dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme('colors.blue.600');
    border-radius: 6px;
    border: 3px solid theme('colors.gray.800');
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes run {
  0% {
    transform: translateX(-25vw) scaleX(1);
  }
  45% {
    transform: translateX(25vw) scaleX(1);
  }
  50% {
    transform: translateX(25vw) scaleX(-1);
  }
  95% {
    transform: translateX(-25vw) scaleX(-1);
  }
  100% {
    transform: translateX(-25vw) scaleX(1);
  }
}
